.login-container{
    min-height: 90%;
    width: 80%;
    margin: 30px auto;
    border: 1px solid #dedede;
    border-radius: 20px;
    padding: 1px;
    box-shadow: 0 5px 30px 0 rgba(0, 0, 0, 0.1);
}
.card{
    position: unset;
    min-height: 90%;
    width: 80%;
    padding: 0;
}

.login-body{
    display: flex;
}

#login-img{
    max-width: 100%;
    border-radius: 20px 0 0 20px;
}

.right-side{
    width: 40%;
    padding: 30px;
    position: relative;
    margin: 0 auto;
}
.left-side{
    position: relative;
    max-width: 60%;
    color: white;
}

.welcome{
    position: absolute;
    top: 8px;
    left: 16px;
}

.form-control{
    height: 45px;
    border-radius: 5px;
    font-weight: bold;
    margin:30px 0 0 0 ;
}
.button-login{
    text-align: right;
}

#login-submit{
    height: 45px;
    width: 140px;
    border-radius: 5px;
}

.login-message{
    text-align: center;
    width: 100%;
    min-height: 30px;
    color: #ba2e35;
}

.message{
    margin-bottom: 0;
}

.another-options{
    position: absolute;
    bottom: 30px;
    right: 30px;
    border: 1px solid #dedede;
    padding: 5px 10px;
    box-shadow: 0 5px 30px 0 rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    background-color: white;

}

.option-link{
    height: 30px;
    text-decoration: none;
    color: #333;
    padding: 5px 10px;
}

.option-link:hover{
    text-decoration: none;
}

#register-link{
    border-right: 1px solid #dedede;
}
