.user_details{
    display: flex;
}

.message-left-side{
    width: 40%;
    padding: 20px;
}

.message-right-side{
    width: 60%;
}

.friend-list-item{
    width: 100%;
    border: 1px solid #ccc;
    height: 100px;
    border-radius: 20px;
    padding: 20px;
    display: flex;
    margin: 5px 0;
}

.friend-avatar{
    height: 60px;
    width: 60px;
    border-radius: 50%;
}
.friend-name{
    margin-left: 15px;
    color: #385898;
    cursor: default;
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
}


.friend-list-item:hover{
    box-shadow: 0 5px 30px 0 rgba(0, 0, 0, 0.1);
}
.message-list-li{
    width: 100%;
    min-height: 40px;
    margin: 5px 0;
}

.message-list{
    min-height: 40px;
    margin: 5px 0;
    border-radius: 20px;
    max-width: 80%;
    width: fit-content;
    display: flex;
    align-items: center;
    padding: 0 20px;
}


.message-from-me{
    background-color: #3578E5;
    color: white;
    float: right;
    margin: 0;
}

.message-from-friend{
    background-color: #e9ebee;
    color: black;
}
.message-list-content{
    margin: 0;
}