.user-name {
    color: #385898;
    cursor: pointer;
    text-decoration: none;
    font-size: 30px;
    font-weight: bold;
}

#update-avatar{
    height: 50px;
    width: 50px;
    border-radius: 50%;
    border: 1px solid #ccc;
    padding: 10px;
}

#update-avatar:hover{
    box-shadow: 0 5px 30px 0 rgba(0, 0, 0, 0.1);
}
#update-avatar:focus{
    outline: none;
}

#user-info-avatar{
    position: relative;
}

#form-update-avatar{
    height: fit-content;
    width: fit-content;
    margin: 0;
    position: absolute;
    top: 63%;
    left: 54%;
}

#navigation{
    height: 60px;
    display: inline-block;
    border: none;
    margin-bottom: 10px;
    padding: 0 10px;
}

.button-navigation {
    height: 60px;
    width: 33%;
    border: none;
    border-radius: 20px;
    background: transparent;
    outline: none;
    font-size: 18px;
    font-weight: 600;
    color: #676767;
}

.button-navigation:hover{
    box-shadow: 0 5px 30px 0 rgba(0, 0, 0, 0.1);
    background: white;
    color: black;

}

.button-navigation:active{
    outline: none;
}

.button-navigation:focus{
    outline: none;
}

#about-user-card{
    width: 80%;
    margin: 10px auto 50px auto;
    border-radius: 20px;

}
#friends-of-user{
    width: 80%;
    margin: 10px auto 50px auto;
}


.list-friend-items{
    border-radius: 20px;
    width: 100%;
    margin-bottom: 10px;
}
.list-friend-items:hover{
    box-shadow: 0 5px 30px 0 rgba(0, 0, 0, 0.1);
}